.section2 {
	background-color: #7967ff;
	padding: 1rem 2vmax;
	padding-bottom: 0;
	&__body {
		display: flex;
		align-items: center;
	}

	&__body_form {
		display: grid;
		gap: 2rem;

		h1 {
			font-size: 48px;
			font-weight: 700;
			line-height: 55px;
			letter-spacing: 0em;
			color: #ffffff;
			span {
				color: #ffcf3c;
			}
		}

		> p {
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			color: #fff;
		}

		.form-items {
			display: grid;
			grid-template-columns: repeat(2, 272px);
			grid-gap: 2rem;
			p {
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				color: #d5d0ff;
			}
		}
	}

	&__body_img {
		margin-top: auto;
		img {
			width: 100%;
		}
	}
}

@media screen and (width <= 1000px) {
	.section2__body_form {
		h1 {
			font-size: 32px;
			line-height: 46px;
			width: 400px;
		}
		.form-items {
			padding: 2vmax;
			grid-template-columns: 1fr;
		}
	}
}

@media screen and (width <= 768px) {
	.section2__body_img {
		display: none;
	}
	.section2__body_form {
		width: 100%;
		h1,
		> p {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}
		.form-items {
			width: 90%;
			margin: 0 auto;
		}
	}
}

@media screen and (width <= 400px) {
	.section2 {
		padding: 1vmax;
	}

	.section2__body_form {
		h1,
		> p {
			width: 100%;
		}
		h1 {
			font-size: 22px;
			line-height: 25px;
		}
		p {
			font-size: 15px;
			line-height: 24px;
		}
		.form-items {
			width: 100%;
		}
	}
}
