* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --purple: #5b45ff;
  --purple2: #513cf3;
  --gray: #8682a7;
  --gray2: #afacc9;
  --lightBlue: #e8e5fb;
  --red: #ef584e;
  --green: #2dbc7c;
  --green2: #32b47a;
  --primary: #f5f4ff;
  --btnRadius: 15px, 50px, 15px, 50px;
  --radius15: 15px;
}

body {
  background-color: var(--primary);
  font-family: sans-serif;
}

.common-radius, .btn-1, .input-group-1 input {
  border-radius: 15px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-top: 2.5rem;
}

.input-group-0 {
  background-color: var(--lightBlue);
  max-width: 537px;
  height: 55px;
  border-radius: 15px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.input-group-0 input {
  padding-left: 3rem;
  height: 100%;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #6d698c;
}
.input-group-0 img {
  position: absolute;
  left: 1.5rem;
}
.input-group-0 button {
  min-width: 245px;
  height: 100%;
  border-radius: 15px;
  border-bottom-left-radius: 50px;
  background-color: var(--purple);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}
.input-group-0 button:hover {
  opacity: 0.8;
}

.input-group-1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
.input-group-1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}
.input-group-1 input {
  height: 55px;
  padding-left: 3rem;
  font-size: 14px;
  color: #b7b4d3;
}

.btn-1 {
  width: 100%;
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background-color: #2dbc7c;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #218e5d;
}

.footer {
  height: 95px;
  background-color: #6d698c;
}
.footer .container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.footer__left, .footer__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__left > li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ABA8C5;
}
.footer__right > li a {
  display: grid;
  place-content: center;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgba(225, 222, 252, 0.3215686275);
  transition: all 0.2s;
}
.footer__right > li a:hover {
  background-color: #5b5773;
}
@media screen and (width <= 1000px) {
  .footer__left {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
@media screen and (width <= 768px) {
  .footer {
    height: auto;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer__left {
    align-items: center;
    gap: 0.5rem;
  }
  .footer__left > li {
    font-size: 12px;
    line-height: 20px;
  }
  .footer__right {
    gap: 0.2rem;
  }
  .footer__right > li a {
    height: 30px;
    width: 30px;
  }
}

.navbar {
  height: 145px;
  background-color: #fff;
  padding: 0 0.5rem;
}
.navbar .logo {
  width: 105px;
}
.navbar .logo > img {
  width: 100%;
}
.navbar__top {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #f5f4ff;
  align-items: center;
  justify-content: space-between;
}
.navbar__top_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__top_left p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #afacc9;
}
.navbar__top .social {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.navbar__top .social li > a {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e1defc;
  border-radius: 12px;
  color: var(--purple);
  transition: all 0.2s;
}
.navbar__top .social li > a:hover {
  background-color: var(--purple);
  color: #fff;
}
.navbar__top_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__top_right h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.navbar__top_right button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 50px;
  background-color: var(--green);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  padding: 0 1.5rem;
  border-radius: 15px;
  border-bottom-left-radius: 30px;
  transition: all 0.2s;
}
.navbar__top_right button .fa {
  font-size: 18px;
}
.navbar__top_right button:hover {
  background-color: var(--red);
}
.navbar__bottom {
  margin-top: 1rem;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.navbar__bottom > li > a {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--gray);
  transition: all 0.2s;
}
.navbar__bottom > li > a:hover {
  font-weight: 500;
  color: var(--purple2);
}

.menu-btn {
  display: none;
  cursor: pointer;
  background-color: #ffcf3c;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  transition: all 0.2s;
}
.menu-btn:hover {
  background-color: #cea62e;
}

@media screen and (width <= 1000px) {
  .navbar__top_right h3 {
    display: none;
  }
}
@media screen and (width <= 800px) {
  .navbar {
    height: 90px;
  }
  .navbar__top {
    height: 100%;
    border-bottom: none;
  }
  .navbar__top .social {
    display: none;
  }
  .navbar__bottom {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
@media screen and (width <= 550px) {
  .navbar .logo {
    width: 70px;
  }
  .phone-btn {
    border-top-right-radius: 30px !important;
  }
  .phone-btn span {
    display: none;
  }
}
@media screen and (width <= 350px) {
  .logo + p {
    display: none;
  }
  .navbar__top_right {
    margin-left: auto;
    margin-right: 10px;
  }
}
.section1__body {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.section1__body_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section1 .section1__body_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section1 .section1__body_info h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 55px;
  color: #2d2d2d;
}
.section1 .section1__body_info p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--gray);
  max-width: 466px;
}

.section1__footer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card1 {
  display: flex;
  min-width: 272px;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  gap: 0.5rem;
  padding: 1rem 2rem;
}
.card1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6d698c;
}

@media screen and (max-width: 1000px) {
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1__body {
    flex-direction: column;
    align-items: center;
  }
  .section1__body_info h1,
  .section1__body_info p {
    text-align: center;
    max-width: 100% !important;
  }
  .section1__footer {
    padding: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .section1 .section1__body_info h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .section1 .section1__body_info p {
    font-size: 16px;
    line-height: 24px;
  }
  .section1__footer {
    grid-template-columns: 1fr;
  }
  .section1 > .input-group-0 {
    position: relative;
    overflow: visible !important;
    margin-bottom: 70px;
  }
  .section1 > .input-group-0 button {
    position: absolute;
    bottom: -75px;
    width: 100%;
    border-top-right-radius: 50px;
  }
}
.section2 {
  background-color: #7967ff;
  padding: 1rem 2vmax;
  padding-bottom: 0;
}
.section2__body {
  display: flex;
  align-items: center;
}
.section2__body_form {
  display: grid;
  gap: 2rem;
}
.section2__body_form h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  color: #ffffff;
}
.section2__body_form h1 span {
  color: #ffcf3c;
}
.section2__body_form > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}
.section2__body_form .form-items {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-gap: 2rem;
}
.section2__body_form .form-items p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #d5d0ff;
}
.section2__body_img {
  margin-top: auto;
}
.section2__body_img img {
  width: 100%;
}

@media screen and (width <= 1000px) {
  .section2__body_form h1 {
    font-size: 32px;
    line-height: 46px;
    width: 400px;
  }
  .section2__body_form .form-items {
    padding: 2vmax;
    grid-template-columns: 1fr;
  }
}
@media screen and (width <= 768px) {
  .section2__body_img {
    display: none;
  }
  .section2__body_form {
    width: 100%;
  }
  .section2__body_form h1,
  .section2__body_form > p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .section2__body_form .form-items {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (width <= 400px) {
  .section2 {
    padding: 1vmax;
  }
  .section2__body_form h1,
  .section2__body_form > p {
    width: 100%;
  }
  .section2__body_form h1 {
    font-size: 22px;
    line-height: 25px;
  }
  .section2__body_form p {
    font-size: 15px;
    line-height: 24px;
  }
  .section2__body_form .form-items {
    width: 100%;
  }
}
.section3 > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
}
.section3 > p {
  max-width: 738px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #6d698c;
  margin: 2vmax auto;
}
.section3__cards {
  display: grid;
  grid-gap: max(1rem, 2vmax);
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  padding: min(0.5rem, 1vmax);
}

.card2 {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: max(2.5vmax, 2rem);
}
.card2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d2d2d;
}/*# sourceMappingURL=main.css.map */